.addToCart {
    height: auto;
    width: 100% !important;
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px 5px;
}

.img-box {
    display: flex;
    align-items: center;
    justify-content: center;

}

.cardPrice {
    padding: 20px !important;

}

.cartsave {
    max-height: 700px;
    overflow-x: scroll;
    overflow-x: hidden;
}